$vpadding: 2.2rem;
$hpadding: 3.1rem;


.section {
  height: 100vh;
  padding:$vpadding $hpadding ;
  display: flex;
  align-items: center;
  justify-content: center;
  &Main {
    background-image:url('/images/bg/screen1_bg.jpg');
    background-position: 25% 75%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding:$vpadding $hpadding ;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 1.8rem;
}


.buttonList {
  margin-top: 2.4rem;
  display:flex;
  gap: 1.3rem;
  justify-content: center;
}
